In [1]:
import pandas as pd
from pyspark.context import SparkContext
from pyspark import SparkConf
from pyspark.sql import SQLContext
from pyspark.sql.functions import isnan, when, count, col
import matplotlib.pyplot as plt
import plotly.plotly as py
import plotly.graph_objs as go
from tqdm import tqdm
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

sc = SparkContext.getOrCreate()

In [2]:
sc

In [3]:
sql = SQLContext(sc)

In [89]:
df = sql.read.load('file:///Users/adamwidibagaskarta/AnacondaProjects/Big Data FINAL PROJECT/chichago/chicago_taxi_trips_2016_12.csv',
                  format='com.databricks.spark.csv',
                  header='true', inferSchema='true')

In [ ]:
#df.drop('pickup_census_tract').columns

In [ ]:
#train.groupby('Age').agg({'Purchase': 'mean'}).show()

In [90]:
af = df[df['fare']!= 0]

In [ ]:
#af.describe().show()

In [ ]:
#af.groupby('taxi_id').agg({'trip_total': 'sum','fare':'sum', 'tips':'sum'}).show()

In [91]:
af = af[af['tips'] != 0]

In [ ]:
#skenario 1 asosiasi daerah yang sering memberikan tips kepada driver
af = af[af['pickup_community_area'].isNotNull()]
af = af[af['dropoff_community_area'].isNotNull()]

In [ ]:
#af.select('taxi_id','pickup_community_area','dropoff_community_area', 'tips').show()

In [ ]:
#af.select('taxi_id','trip_seconds','trip_miles', 'tips').show)

In [ ]:
kode_area = af.select("pickup_community_area").distinct().rdd.flatMap(lambda x: x).collect()

In [ ]:
kode_area_2 = af.select("dropoff_community_area").distinct().rdd.flatMap(lambda x: x).collect()

In [ ]:
taxi_id = af.select("taxi_id").rdd.flatMap(lambda x: x).collect()

In [ ]:
pick_up_kode = af.select("pickup_community_area").rdd.flatMap(lambda x: x).collect()

In [ ]:
drop_off_kode = af.select("dropoff_community_area").rdd.flatMap(lambda x: x).collect()

In [ ]:
tips = af.select("tips").rdd.flatMap(lambda x: x).collect()

In [ ]:
d = {'taxi_id': taxi_id, 'pick_up_kode': pick_up_kode, 'drop_off_kode': drop_off_kode, 'tips':tips }

In [ ]:
basket = pd.DataFrame(data=d)

In [ ]:
new_code = [int(integral) for integral in kode_area]

In [ ]:
new_code_2 = [int(i) for i in kode_area_2]

In [ ]:
final_code = list(set().union(new_code, new_code_2))

In [ ]:
taxi = pd.DataFrame(index=taxi_id,columns=final_code)

In [ ]:
#try:
for i in tqdm(range(len(taxi_id))):
    select_row = basket.iloc[i]
    a = select_row['drop_off_kode']
    b = select_row['pick_up_kode']
    taxi.iat[i,taxi.columns.get_loc(int(a))-1] = 1
    taxi.iat[i,taxi.columns.get_loc(int(b))-1] = 1
#except:
#    print (a)
#    print (b)

In [ ]:
final_taxi = taxi.fillna(0)

In [ ]:
frequent_itemsets = apriori(final_taxi, min_support=0.001, use_colnames=True)

In [ ]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head()

In [ ]:
rules[
       (rules['confidence'] >= 0.1) ]

#batas akhir skenario 1

In [ ]:
#skenario 2 untuk asosisi jenis payment yang sering memberi tips
af.select('taxi_id', 'tips', 'payment_type').show()

In [92]:
payment_type = af.select("payment_type").rdd.flatMap(lambda x: x).collect()

In [93]:
tips = af.select("tips").rdd.flatMap(lambda x: x).collect()

In [94]:
taxi_id = af.select("taxi_id").rdd.flatMap(lambda x: x).collect()

In [95]:
d = {'taxi_id': taxi_id, 'payment_type': payment_type, 'tips':tips }

In [96]:
data_payment = pd.DataFrame(data=d)

In [97]:
data_payment = data_payment[data_payment['payment_type'] != 'Unknown']

In [98]:
len(data_payment)

494329

In [99]:
payment_df = pd.DataFrame(index=range(0,len(data_payment)),columns=['Credit Card','Cash','Tips'])

In [100]:
payment_df['Tips'] = 1

In [101]:
for i in tqdm(range(len(data_payment))):
    select_row = data_payment.iloc[i]
    a = select_row['payment_type'] 
    if a == 'Credit Card':
        payment_df.iat[i,payment_df.columns.get_loc('Credit Card')] = 1
    elif a == 'Cash':
        payment_df.iat[i, payment_df.columns.get_loc('Cash')] = 1

100%|██████████| 494329/494329 [01:02<00:00, 7864.44it/s]

In [102]:
final_payment = payment_df.fillna(0)

In [103]:
frequent_payments = apriori(final_payment, min_support=0.001, use_colnames=True)

In [104]:
rules = association_rules(frequent_payments, metric="lift", min_threshold=1)
rules.head(10)

,antecedants,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Tips),(Credit Card),1.000000,0.998491,0.998491,0.998491,1.0,0.0,1.000000
1,(Credit Card),(Tips),0.998491,1.000000,0.998491,1.000000,1.0,0.0,inf
2,(Tips),(Cash),1.000000,0.001001,0.001001,0.001001,1.0,0.0,1.000000
3,(Cash),(Tips),0.001001,1.000000,0.001001,1.000000,1.0,0.0,inf